<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Página inicial</title>
</head>
<body>
  <header class="p-3 mb-3 border-bottom" style="background-color: rgba(31, 56, 144, 1);">
    <div class="container" style="width: max-content;">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="width: max-content;">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img class="bi me-2" width="40" height="32" role="img" aria-label="Inicialização"><use src="/bd_django/banco_dados/static/img/logobranca.png"></use></img>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-right: 50rem;">
          <li><a href="#" class="nav-link px-2 link-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;color: aliceblue;">Visão geral</font></font></a></li>
          <li><a href="#" class="nav-link px-2 link-dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;color: aliceblue;">Inventário</font></font></a></li>
          <li><a href="#" class="nav-link px-2 link-dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;color: aliceblue;">Clientes</font></font></a></li>
          <li><a href="#" class="nav-link px-2 link-dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;color: aliceblue;">Produtos</font></font></a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Procurar..." aria-label="Procurar">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
        </div>
      </div>
    </div>
  </header>

  

  <div style="height: 6rem;width: 100rem;padding-top: 0%;">
    <hr style="background-color: rgb(255, 72, 0);rotate: 145deg;width: 23rem;margin-top: 6rem;">
    <hr style="background-color: rgba(57, 159, 232, 1);rotate: 45deg;width: 20rem;margin-left: 5rem;">
    <hr style="background-color: rgba(0, 220, 88, 1);rotate: 30deg;width: 33rem;margin-left: 20rem;">
    <hr style="background-color: rgba(255, 228, 37, 1);rotate: 151deg;width: 38rem;margin-left: 1rem;">
    <hr style="color: rgb(255, 72, 0);rotate: 65deg;width: 21rem;margin-left: 42rem;">

    <hr style="background-color: rgb(255, 72, 0);rotate: 105deg;width: 20rem;margin-left: 54rem;">
    <hr style="background-color: rgb(255, 72, 0);rotate: 45deg;width: 20rem;margin-left: 70rem;">
    <hr style="background-color: rgb(255, 72, 0);rotate: 45deg;width: 30rem;margin-left: 65rem;">

    <svg class="bd-placeholder-img rounded-circle" style="background-color:rgb(255, 72, 0);" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></svg>
  </div>

  <div class="navbar shadow-sm" style="height: 8rem;background-color:rgba(255, 228, 37, 1);">
    <h1 class="text"></font><font style="vertical-align: inherit;text-align: center; font-size: 1.5rem;align-content: center;margin-left: 35rem;">PARAÍBATEC | PRIMEIRA CHANCE | PRONATEC-PB | 5º ITINERÁRIO</font></font>
    <div class="container">
    </div>
  </div>

  <div style="margin-top: 4rem; margin-left: 40rem;"><a href="/bd_django/templates/convocacoes.html/" class="btn btn-primary btn-lg px-4" style="background-color: rgba(31, 56, 144, 1);border-color: rgba(31, 56, 144, 1);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Editais</font></font></a>
    <a href="/bd_django/templates/convocacoes.html/" class="btn btn-primary btn-lg px-4" style="background-color: rgba(31, 56, 144, 1);border-color: rgba(31, 56, 144, 1);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Convocações</font></font></a>
    <a href="/bd_django/templates/colaboradores.html/" class="btn btn-primary btn-lg px-4" style="background-color: rgba(31, 56, 144, 1);border-color: rgba(31, 56, 144, 1);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ParaíbaTec Colaboradores</font></font></a>
  </div>
  <div style="margin-top: 2rem;margin-left: 40rem ;">
  <a href="/docs/5.0/examples/" class="btn btn-primary btn-lg px-4" style="background-color: rgba(31, 56, 144, 1);border-color: rgba(31, 56, 144, 1);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Primeira Chance</font></font></a>
  <a href="/bd_django/templates/geect.html/" class="btn btn-primary btn-lg px-4" style="background-color: rgba(31, 56, 144, 1);border-color: rgba(31, 56, 144, 1);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">GEECT</font></font></a>
  <a href="/docs/5.0/examples/" class="btn btn-primary btn-lg px-4" style="background-color: rgba(31, 56, 144, 1);border-color: rgba(31, 56, 144, 1);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SEE/PB</font></font></a>
  </div>
      <hr class="featurette-divider" style="width: 60rem;color: FFE425;"> 


</body>
</html>
