<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 offset-md-1 py-4">
          </div>
        </div>
      </div>
    </div>
    <div class="navbar shadow-sm" style="height: 3rem;background-color:rgba(31, 56, 144, 1);">
      <div class="container">
      </div>
    </div>
    <div class="navbar shadow-sm" style="height: 0.3rem;background-color:rgba(247, 41, 48, 1);"></div>
      <div class="container">
      </div>
    </div>
  </header>


  
    <div>
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" style="color: red;" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect><svg >
    </div>


    <body class="text-center">
    
      <form style="width: max-content;margin-left: 50rem;margin-top: 10rem;">
        <img class="mb-4" src="/banco_dados/static/img/ParaíbaTECPrincipal.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Por favor, faça login</font></font></h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com">
          <label for="floatingInput"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Endereço de email</font></font></label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
          <label for="floatingPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Senha</font></font></label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lembre de mim
          </font></font></label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entrar</font></font></button>
        <p class="mt-5 mb-3 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2017–2021</font></font></p>
      </form>
    </body>
</html>